body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

p {
    text-align: center;
    margin-top: 3%;
}

form {
    text-align: center;
    margin: 2%;
}

input {
    margin: 0.7%;
}