body {
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimentos padrão */
  box-sizing: border-box; /* Inclui bordas e preenchimentos no cálculo do tamanho */
  font-family: Arial, sans-serif; /* Define uma fonte padrão */
  font-size: 100%; /* Define o tamanho padrão da fonte */
  line-height: 1.5; /* Define o espaçamento entre linhas */
  background-color: #f4f4f4; /* Define uma cor de fundo suave */
  color: #333; /* Define a cor padrão do texto */
}

h1 {
    text-align: center;
    margin-top: 5%;
}

form {
    text-align: center;
    margin: 10%;
}

